@tailwind base;

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
  .main {
    @apply px-6 xl:px-32;
  }
}

@tailwind components;
@layer components {
  .header {
    @apply pt-6 md:pt-8 lg:pt-10 flex justify-between items-center;
  }
  .btn,
  .link {
    @apply text-lg lg:text-xl leading-7;
  }
  .link {
    @apply font-normal;
    color: #bdbdbd;
  }
  .btn {
    @apply font-bold text-white px-3 py-2 bg-black rounded-lg;
  }
  .hero {
    @apply mt-24 md:mt-32;
  }
  .heading {
    @apply font-extrabold text-center text-black text-4xl md:text-6xl lg:text-7xl uppercase;
    line-height: 100%;
  }
  .info {
    @apply font-bold text-lg md:text-xl text-center mt-11;
    line-height: 100%;
    color: #bdbdbd;
  }
}

@tailwind utilities;
@layer utilities {
  .btw-center {
    @apply justify-between items-center;
  }
}
