@tailwind base;

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
  .main {
    @apply px-6 xl:px-32;
  }
}

@tailwind components;
@layer components {
  .header {
    @apply pt-6 md:pt-8 lg:pt-10 flex justify-between items-center;
  }
  .btn,
  .link {
    @apply text-lg lg:text-xl leading-7;
  }
  .link {
    @apply font-normal;
    color: #bdbdbd;
  }
  .btn {
    @apply font-bold text-white px-3 py-2 bg-black rounded-lg;
  }
  .hero {
    @apply mt-24 md:mt-32;
  }
  .heading {
    @apply font-extrabold text-center text-black text-4xl md:text-6xl lg:text-7xl uppercase;
    line-height: 100%;
  }
  .info {
    @apply font-bold text-lg md:text-xl text-center mt-11;
    line-height: 100%;
    color: #bdbdbd;
  }
  .form {
    @apply mt-11 flex justify-center flex-wrap;
  }
  .input-mail {
    @apply rounded-xl py-4 pl-6 pr-10 sm:mr-6 mb-4;
    background-color: #f2f2f2;
    width: 428px;
    max-width: 100%;
  }
  .input-mail::placeholder {
    @apply text-base font-normal;
    color: #bdbdbd;
  }
  .form-btn {
    @apply font-bold text-white px-3 py-1 bg-black rounded-lg text-lg md:text-xl mb-4;
    font-family: Roboto;
  }
}

@tailwind utilities;
@layer utilities {
  .btw-center {
    @apply justify-between items-center;
  }
  .visuallyHidden {
    @apply absolute overflow-hidden;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
  }
}
